@import 'variables';



html,
body {
    font-size: $base-font-size;
    font-family: 'Montserrat', sans-serif;
    color: $text-color;
    font-weight: 400;
}

h1 {
    font-size: 1.8rem;
    margin: $main-spacing 0;
}

h2 {
    font-size: 1.6rem;
    margin: $main-spacing 0;
}

p {
    line-height: 1.5;
    margin-bottom: $main-spacing;
}